In [1]:
import pandas as pd
import numpy as np

In [13]:
#open dataset
df = pd.read_json('dataset.json')
df.head()

,stations,full_timetable
0,"{'Златоуст (1)': ['0', '38', '38', '25', '29',...","{'853': {'route': ['1', '3', '2'], 'free_carri..."
1,"{'Златоуст (1)': ['0', '28', '24', '28', '8', ...","{'896': {'route': ['1', '3', '2'], 'free_carri..."
2,"{'Златоуст (1)': ['0', '25', '15', '6', '15', ...","{'309': {'route': ['1', '3', '2'], 'free_carri..."
3,"{'Златоуст (1)': ['0', '32', '30', '13', '4', ...","{'800': {'route': ['2', '3', '6', '5'], 'free_..."
4,"{'Златоуст (1)': ['0', '10', '38', '16', '1', ...","{'893': {'route': ['1', '3', '6', '5', '7'], '..."

In [14]:
#check the shape of the datafile
df.shape

(100000, 2)

In [4]:
#смотрим пример данных из первой колонки 
df.iloc[0,0]

{'Златоуст (1)': ['0', '38', '38', '25', '29', '7', '10'],
 'Кыштым (2)': ['26', '0', '7', '34', '20', '27', '35'],
 'Миасс (3)': ['15', '5', '0', '27', '16', '31', '24'],
 'Муслюмово (4)': ['12', '39', '1', '0', '2', '14', '20'],
 'Челябинск (5)': ['38', '38', '1', '28', '0', '33', '14'],
 'Полетаево (6)': ['21', '27', '24', '9', '1', '0', '3'],
 'Еманжелинск (7)': ['9', '3', '23', '25', '32', '37', '0']}

In [12]:
#смотрим пример данных из второй колонки
df.iloc[2,1]

{'309': {'route': ['1', '3', '2'],
  'free_carriage': ['36', '32'],
  'timetable': ['02:00 - 02:21', '04:31 - 05:33', '12:57 - 13:31']},
 '495': {'route': ['1', '3', '6', '5'],
  'free_carriage': ['22', '31', '16'],
  'timetable': ['03:18 - 04:25',
   '06:35 - 07:56',
   '11:34 - 12:40',
   '14:02 - 14:26']},
 '480': {'route': ['1', '3', '6', '5', '7'],
  'free_carriage': ['0', '28', '26', '10'],
  'timetable': ['02:30 - 03:07',
   '05:17 - 06:10',
   '09:48 - 10:30',
   '11:52 - 13:01',
   '15:39 - 16:01']},
 '487': {'route': ['1', '3', '6', '5', '7'],
  'free_carriage': ['11', '25', '5', '34'],
  'timetable': ['03:24 - 04:49',
   '06:59 - 07:48',
   '11:26 - 11:53',
   '13:15 - 13:49',
   '16:27 - 17:46']},
 '192': {'route': ['2', '3', '6', '5', '7'],
  'free_carriage': ['4', '17', '1', '10'],
  'timetable': ['00:00 - 00:28',
   '07:52 - 08:37',
   '12:15 - 12:45',
   '14:07 - 15:37',
   '18:15 - 18:40']},
 '426': {'route': ['2', '3', '6', '7'],
  'free_carriage': ['9', '11', '19'],
  'timetable': ['01:28 - 02:02',
   '09:26 - 10:13',
   '13:51 - 14:33',
   '15:39 - 17:05']},
 '650': {'route': ['2', '4'],
  'free_carriage': ['30'],
  'timetable': ['01:27 - 02:34', '10:34 - 11:03']},
 '946': {'route': ['3', '2', '4'],
  'free_carriage': ['3', '39'],
  'timetable': ['02:00 - 03:17', '10:41 - 11:09', '19:09 - 19:31']},
 '800': {'route': ['3', '2', '4', '5'],
  'free_carriage': ['37', '18', '31'],
  'timetable': ['03:44 - 04:11',
   '11:35 - 12:55',
   '20:55 - 21:46',
   '23:56 - 00:14']},
 '640': {'route': ['4', '5'],
  'free_carriage': ['18'],
  'timetable': ['02:00 - 03:11', '05:21 - 06:22']},
 '865': {'route': ['4', '5', '6', '3', '1'],
  'free_carriage': ['1', '35', '28', '9'],
  'timetable': ['03:30 - 04:34',
   '06:44 - 07:01',
   '08:23 - 09:38',
   '13:16 - 13:45',
   '15:55 - 16:59']},
 '912': {'route': ['4', '5', '6', '3', '1'],
  'free_carriage': ['17', '16', '4', '14'],
  'timetable': ['03:49 - 04:17',
   '06:27 - 06:55',
   '08:17 - 09:29',
   '13:07 - 14:31',
   '16:41 - 17:36']},
 '420': {'route': ['4', '5', '6', '3', '1'],
  'free_carriage': ['28', '28', '0', '19'],
  'timetable': ['03:25 - 03:45',
   '05:55 - 06:36',
   '07:58 - 09:12',
   '12:50 - 13:17',
   '15:27 - 16:32']},
 '377': {'route': ['5', '4', '2', '3', '1'],
  'free_carriage': ['3', '1', '27', '22'],
  'timetable': ['01:00 - 02:16',
   '04:26 - 05:10',
   '13:10 - 14:40',
   '22:04 - 22:59',
   '01:09 - 02:20']},
 '452': {'route': ['5', '4', '2', '3', '1'],
  'free_carriage': ['25', '16', '36', '39'],
  'timetable': ['02:48 - 03:03',
   '05:13 - 06:39',
   '14:39 - 15:09',
   '22:33 - 23:42',
   '01:52 - 03:20']},
 '252': {'route': ['5', '4', '2', '3', '1'],
  'free_carriage': ['25', '39', '32', '36'],
  'timetable': ['02:07 - 03:24',
   '05:34 - 06:15',
   '14:15 - 14:38',
   '22:02 - 22:23',
   '00:33 - 01:04']},
 '379': {'route': ['5', '6', '7'],
  'free_carriage': ['23', '24'],
  'timetable': ['01:39 - 02:03', '03:25 - 04:19', '05:25 - 06:35']},
 '209': {'route': ['7', '5', '6', '3', '1'],
  'free_carriage': ['3', '17', '3', '13'],
  'timetable': ['00:00 - 01:15',
   '03:53 - 05:20',
   '06:42 - 07:40',
   '11:18 - 12:47',
   '14:57 - 15:23']},
 '633': {'route': ['7', '5', '6', '3', '1'],
  'free_carriage': ['10', '11', '6', '19'],
  'timetable': ['00:47 - 02:17',
   '04:55 - 05:56',
   '07:18 - 08:41',
   '12:19 - 12:39',
   '14:49 - 15:12']},
 '892': {'route': ['7', '5', '6', '3', '1'],
  'free_carriage': ['16', '16', '10', '19'],
  'timetable': ['01:13 - 01:38',
   '04:16 - 05:10',
   '06:32 - 07:07',
   '10:45 - 11:35',
   '13:45 - 14:54']},
 '132': {'route': ['7', '6', '3', '2'],
  'free_carriage': ['35', '12', '27'],
  'timetable': ['01:08 - 02:05',
   '03:11 - 04:05',
   '07:43 - 08:08',
   '15:32 - 16:14']},
 '250': {'route': ['7', '6', '5', '4'],
  'free_carriage': ['33', '34', '32'],
  'timetable': ['01:28 - 02:24',
   '03:30 - 04:14',
   '05:36 - 06:01',
   '08:11 - 08:30']}}

In [10]:
#оценим количество операций (составов) в расписании
len(df.iloc[0,1])

43

In [6]:

df.iloc[1,0]

{'Златоуст (1)': ['0', '28', '24', '28', '8', '29', '3'],
 'Кыштым (2)': ['10', '0', '32', '30', '9', '21', '10'],
 'Миасс (3)': ['23', '16', '0', '29', '1', '9', '19'],
 'Муслюмово (4)': ['15', '22', '35', '0', '25', '3', '9'],
 'Челябинск (5)': ['12', '8', '4', '37', '0', '8', '7'],
 'Полетаево (6)': ['1', '11', '14', '14', '30', '0', '17'],
 'Еманжелинск (7)': ['24', '21', '29', '37', '35', '9', '0']}